/* CSS Entry Point */

.body {

}


.app {

	width: 100%;


}



.myBoxes {
	text-align: center;


}


.box1 {
	
	width: 600px;
	
}



.box2 {

	width: 600px;

}




///////////////////////////////////



.hardmode{ 

}






